

















































































































































































































                <ul class="mb-0">
                    <li>Не выбран ни один фильтр - скринер ничего не ищет.</li>
                    <li>
                        Выбран спот, но заполнены фильтры фьючерсов - такие
                        условия не сработают.
                    </li>
                    <li>
                        Слишком жесткие значения или большое количество фильтров
                        - сигналы приходят редко или совсем не приходят.
                    </li>
                    <li>
                        Слишком мягкие значения или малое количество фильтров -
                        сигналов слишком много.
                    </li>
                    <li>
                        Белый список заполнен случайно - вы видите только
                        выбранные тикеры.
                    </li>
                    <li>
                        Формула множителя объема:
                        <code>
                            (объем за интервал / длительность интервала) /
                            (суточный объем / 86400)
                        </code>
                    </li>
                    <li>
                        Для биржи Binance минимальный интервал для фильтра
                        открытого интереса = 40 секунд
                    </li>
                    <li>На бирже Aster не поддерживается спотовый рынок</li>
                    <li>Для каждого скринера желательно использовать разные токены Telegram ботов, чтобы избежать лимитов от API Telegram</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}